.row
  .col-lg-3
  .col-lg-6
    %h1 Editing product
    
    = render 'form'
    
    = link_to 'Show', category_product_path(category, product)
    \|
    = link_to 'Back', category_path(category), :class => "btn btn-danger"
  .col-lg-3