
%br
.row
  .col-lg-1
  .col-lg-10
    %h1= "Products"
    
    %table.table.table-striped.table-bordered
      %tr
        %th Title
        %th Description
        %th Price
        %th Avg rating
        %th Actions
            
      - products.each do |product|
        %tr
          %td
            %h4 
              =product.title
          %td
            %h4 
              =description_substring(product.description)  
          %td
            %h4 
              =product.price   
          %td
            %h4 
              =product.average_rating                                     
          %td
            = link_to 'Show', category_product_path(product.category, product), :class => "btn btn-info"
            = link_to 'Edit', edit_category_product_path(product.category, product), :class => "btn btn-warning"
            = link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
    %br
    
  .col-lg-1